# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle/
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework

# Env / secrets
.env
*.env.local

# Coverage
coverage/

# Misc
.DS_Store
*.log
